body {
  background-color: darkgreen;
}

.App {
  width: 100%;
  height: 100%;
  margin: 1%;
}

.red-cards {
  padding: 0px;
  color: red;
  font-size: 130px;
  text-align: left;
}

.header {
  text-align: left;
}

.footer {
  text-align: right;
}

.header,
.footer {
  font-size: 25px;
}

.card {
  width: 105px;
  height: 160px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: whitesmoke;
}

.symbol {
  font-size: 80px;
}

.face-down-card {
  background-color: gray;
}

.pile {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  width: 21%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-left: 2%;
}

.row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.four-foundation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120%;
}

.waste-piles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15%;
  width: 80%;
}

.waste-pile {
  width: 105px;
  display: flex;
  flex-direction: column;
}

.waste-pile-card {
  margin-top: -90px;
}
